<!-- Source:  http://stackoverflow.com/questions/14049480/what-are-the-nuances-of-scope-prototypal-prototypical-inheritance-in-angularjs -->
<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', ['$scope', function ($scope) {
    $scope.myPrimitive = 50;
    $scope.myObject = {
      aNumber: 20,
      aThing: {
        aNumber: 10
      }
    }
    $scope.myArray = [3,4];
  }]);
</script>
<body>

  <div ng-app="myApp" ng-controller="myCtrl">

    <script type="text/ng-template" id="/tpl1.html">
      <input ng-model="myPrimitive">
    </script>
    <div ng-include src="'/tpl1.html'"></div>

    <script type="text/ng-template" id="/tpl2.html">
      <input ng-model="myObject.aNumber">
      <input ng-model="myObject.aThing.aNumber">
      <input ng-model="myArray[0]">
    </script>
    <div ng-include src="'/tpl2.html'"></div>

    {{myPrimitive}} {{myObject.aNumber}} {{myObject.aThing.aNumber}} {{myArray}}

    <!--
    ****** Important
    Only property reads search the prototype chain, not writes.
    When you have ng-model="myObject.aNumber" or ng-model="myObject.aThing.aNumber" or  ng-model="myArray[0]", there's subtle read,
    which is why scope chain is consulted, and parent object is updated, if it exists
    -->

  </div>
</body>
</html>